/* Boilerplate stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 62.5%;
}

div {
  margin: auto;
}

body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    background: #79a8ae;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.2px;
    margin: 0;
}

.body--ready {
    background: -webkit-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(38, 163, 222) 120%);
    background: -moz-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(38, 163, 222) 120%);
    background: -o-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(38, 163, 222) 120%);
    background: -ms-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(38, 163, 222) 120%);
    background: linear-gradient(top, rgb(203, 235, 219) 0%, rgb(38, 163, 222) 120%);
}

.text-know-date {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.text-start-date {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

img#logo {
    width: 128px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgba(63, 81, 181, 0.72);
    border: 3px solid #b9d8ea;
    opacity: 1;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 1.0s;
}

.cs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

section {
  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
}

.check-list .done:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #2196f3;
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.hearts {
    min-width: 400px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
